  <nav id="nav-bar">
    <div class="nav">
    <a href="/reviews">All reviews</a>
    <a href="/reviews/create" class="left">Create review</a>
    <a href="/userProfile" class="left">My profile</a>
    <a href="/logout" id="logout">Log out</a>
    </div>
  </nav>

<div class="form-container">
<h2>Create a new review</h2>

<form action="/reviews/create" method="post">
 
  <label for="title-input"></label> <br>
  <input type="text" placeholder="Title of review" name="title"> </input> <br>
 
  <label for="movieName-input"></label><br>
  <input type="text" placeholder="Name of the movie" name="movieName"></input> <br>
 
  <label for="director-input"></label><br>
  <input name="director" placeholder="Director"> </input>  <br>

  <label for="review-input"></label><br>
  <textarea name="review" type="text" placeholder="Write your review here..."></textarea> <br>

  <label for="ranking-input"></label><br>
  <input name="ranking" type="number" placeholder="Estimate the movie from 1 to 10" min="1" max="10"> </input> <br>

 
  <button type="submit">Create new review</button>

  </form>
  </div>