<div id="signup">

  <h1>Welcome to Movie Geek!</h1>

<div class="signup-container">
  <form action="/login" method="POST">
  <h2>Login </h2>
    <label for="username"></label><br>
    <input type="username" name="username" placeholder="Your username"/> <br>
 
    <label for="password"></label><br>
    <input type="password" name="password" placeholder="Your password"/> <br>
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>