  <nav id="nav-bar">
    <div class="nav">
    <a href="/reviews">All reviews</a>
    <a href="/reviews/create" class="left">Create review</a>
    <a href="/userProfile" class="left">My profile</a>
    <a href="/logout" id="logout">Log out</a>
    </div>
  </nav>

  <form action="/logout" method="POST" id="form-logout">
    <button id="logout-button">Logout</button>
  </form>
