<div id="signup">
<h1>Welcome to Movie Geek!</h1>
<div class="signup-container">
  <form action="/signup" method="POST">
  <a href="/login">Already a member?</a> <br>
  <h2>Create your account</h2>
  
    <label for="input-username"></label> <br>
    <input type="text" name="username" placeholder="Your username" /> <br>
 
    <label for="input-email"></label> <br>
    <input type="email" name="email" placeholder="Your email" /> <br>
 
    <label for="input-password"></label> <br>
    <input type="password" name="password" placeholder="Your password" /> <br>
 
    <button type="submit">SIGN IN</button>
    {{!-- error message here --}}
 {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
    
  </form>
</div>
</div>